# --- Database ---
DATABASE_URL=postgresql://fti_user:fti_password@localhost:5432/freshdesk_ticket_intelegence

# --- Freshdesk API ---
FRESHDESK_DOMAIN=ainoindonesia.freshdesk.com
FRESHDESK_API_KEY=4-VM50c5-WDR0w3mRIFk

# --- Server ---
PORT=3000
